.cards {
  margin-left: 0;
  padding: 4rem;
  background-color: #2e5e82;

  // background-size: cover;
  opacity: 96%;
}

.cardlambfacts {
  width: 50px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

// .cards__container {
//   display: flex;
//   flex-flow: column;
//   align-items: center;
//   max-width: 1120px;

//   margin: 0 auto;
// }
/* Set rules to fill background */
// min-height: 100%;
// min-width: 1024px;

/* Set up proportionate scaling */
// width: 100%;
// height: auto;

/* Set up positioning */
// position: fixed;

// left: 0;
.card__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.card__items {
  margin-bottom: 24px;
}

.card__item {
  display: flex;
  flex: 2;
  width: 380px;
  margin: 0 1rem;
  border-radius: 10px;
  // height: 180px;
}
.cards__item {
  height: 620px;
}
.card__item__link {
  display: flex;
  flex-flow: column;
  width: 40%;
  // height: 180px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background-color: rgb(112, 110, 110);
}

.card__item__pic-wrap {
  position: relative;
  width: 100%;
  // padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.card__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 10px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.card__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card__item__img:hover {
  transform: scale(1.1);
}

.card__item__info {
  padding: 20px 30px 30px;
}

.card__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
