.companyprofile-get-wrapper {
  // color: teal;
  background-color: rgb(112, 110, 110);
  color: rgb(11, 56, 97);
}
// .get-detail-wrapper {
//   color: teal;
// }
.detail-wrapper-wrapper {
  color: lightblue;
}
// .companyprofile-detail-wrapper-wrapper {
//   color: aquamarine;
// }
// .companyprofile-form-wrapper {
//   color: lightcoral;
// }
// .companyprofile-details {
//   color: rgb(59, 109, 156) 40%;
// }
// .companyprofile-top-section {
//   color: rgb(59, 109, 156) 40%;
// }
.companyprofile-switch-wrapper {
  color: rgb(11, 56, 97);
  margin-left: 2%;
  // padding-bottom: 2%;
}
.box {
  padding-left: 2%;
  padding-right: 1%;
  margin-top: -2%;
  margin-left: 2%;
}
.companypro-confirm-button {
  width: 40px;
  background-color: rgb(11, 56, 97);
  color: bisque;
}
.edit-button-getprofile {
  // width: 40px;
  margin-top: 1%;
  margin-left: 1.5%;
}
.deletebutton {
  margin-left: 7%;
  color: rgb(11, 56, 97);
  margin-top: -1.7%;
  // background-color: rgb(11, 56, 97);
  // padding: 5%;
}

// .orgget-flex-row {
//   display: flex;
//   // margin-top: 2%;
// }
.companyprofile-back-button {
  margin-left: 0.5%;
  margin-top: 0.5%;
}
.onoff {
  color: rgb(11, 56, 97);
  margin-left: 4%;
  margin-top: -1.6%;
}
.companyprofile-middle-section {
  color: purple;
}
.companyprofile-icon-and-details {
  color: rgb(11, 56, 97);
  margin-left: 2%;
}
.companyprofile-user-list {
  color: hotpink;
}
