.user-list-container-list-page {
  width: 100%;
}
.user-filter-list {
  width: 100%;
  margin-left: 65%;
  margin-top: -2%;
  height: 31px;
}
.user-filter-listb {
  background-color: rgb(24, 58, 85);
  padding-left: 1%;
  color: rgb(231, 212, 188);
  font-weight: bold;
  width: 15%;
}
.user-add-confirm-button {
  background-color: rgb(24, 58, 85);
  color: bisque;
  height: 30px;
  margin-left: 85%;
  margin-top: 1%;
  width: 10%;
}

.user-button-icon {
  padding-right: 1%;
}
.user-edit-confirm-button {
  width: 180%;
}
